<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recyclerprogramdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recyclerprogramdemo">
        <activity
            android:name=".HideimageAppActivity"
            android:exported="false" />
        <activity
            android:name=".DemoActivity"
            android:exported="false" />
        <activity
            android:name=".spinnertwoActivity"
            android:exported="false" />
        <activity
            android:name=".spinnerOneActivity"
            android:exported="false" />
        <activity
            android:name=".timePikerActivity"
            android:exported="false" />
        <activity
            android:name=".ResultThreeQuizappActivity"
            android:exported="false" />
        <activity
            android:name=".questionsQuizappSecondActivity"
            android:exported="false" />
        <activity
            android:name=".loginPageQuizappActivity"
            android:exported="false" />
        <activity
            android:name=".RadiobuttonSecondActivity"
            android:exported="false" />
        <activity
            android:name=".RadiobuttonFirstActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>